In [1]:
import pandas as pd
import numpy as np
import random
from datetime import datetime
from string import ascii_letters
import string
import warnings
warnings.filterwarnings('ignore')

#Loading and Reading the CSV file
df= pd.read_csv('housing_data.csv')
df.shape

(14246, 19)

In [3]:
#Drob rows containing missing values using Pandas's DropNA method
df.dropna(inplace=True)
df.shape

(4461, 19)

In [4]:
#sampling 100 rows from dataframe randomly 
chosen_idxs = np.random.choice(4461 , replace=False , size=100)
df1=df.iloc[chosen_idxs]
df1.shape

(100, 19)

In [5]:
#Convert the Date column to pandas DateTime format
df1['Date'] = pd.to_datetime(df1['Date'])

In [6]:
#Extract the month from Date column and store in another column
df1['STD_Months'] = df1['Date'].apply(lambda x: x.strftime("%B"))
df_test=df1[['Date' , 'STD_Months']]
df_test.head(10)

            Date STD_Months
7234  2016-07-11       July
3326  2016-10-09    October
10149 2016-05-28        May
244   2016-10-09    October
4314  2016-11-19   November
13064 2017-08-04     August
7028  2016-11-27   November
7937  2016-11-27   November
4433  2016-05-14        May
11896 2017-02-25   February

In [7]:
#Creating a copy of STD_Months
df_test['10_Percent'] = df_test['STD_Months']
df_test.head(10)

            Date STD_Months 10_Percent
7234  2016-07-11       July       July
3326  2016-10-09    October    October
10149 2016-05-28        May        May
244   2016-10-09    October    October
4314  2016-11-19   November   November
13064 2017-08-04     August     August
7028  2016-11-27   November   November
7937  2016-11-27   November   November
4433  2016-05-14        May        May
11896 2017-02-25   February   February

In [8]:
#Creating 10% noise
#Replacing letters with random letter
from string import ascii_letters
ix = [(row) for row in range(df_test['10_Percent'].shape[0])]
#choosing 10 Rows
for row in random.sample(ix, int(round(.1*len(ix)))):
    indxs = [i for i , _ in enumerate(df_test['10_Percent'].iat[row])]
    if len(indxs)>4:
        print("indxs:" ,indxs) 
        #Choose 1 random indexes
        sam = random.sample(indxs , 1)
        print("sam:" ,sam)
        #Choose 1 random character
        letts =  iter(random.sample(ascii_letters, 1))
        #make the string a list
        lst = list(df_test['10_Percent'].iat[row])
        for ind in sam:
            lst[ind] = next(letts)
        df_test['10_Percent'].iat[row]=("".join(lst))
    print("row:" ,row)    
    print("s:" ,df_test['10_Percent'].iat[row])
df_test.head(10)

row: 8
s: May
indxs: [0, 1, 2, 3, 4, 5]
sam: [2]
row: 82
s: AuVust
row: 23
s: June
indxs: [0, 1, 2, 3, 4, 5, 6, 7, 8]
sam: [7]
row: 49
s: SeptembPr
row: 47
s: July
indxs: [0, 1, 2, 3, 4]
sam: [1]
row: 78
s: Mqrch
indxs: [0, 1, 2, 3, 4]
sam: [0]
row: 11
s: Jpril
row: 22
s: June
indxs: [0, 1, 2, 3, 4]
sam: [2]
row: 56
s: Madch
indxs: [0, 1, 2, 3, 4, 5, 6, 7]
sam: [4]
row: 77
s: FebrEary

            Date STD_Months 10_Percent
7234  2016-07-11       July       July
3326  2016-10-09    October    October
10149 2016-05-28        May        May
244   2016-10-09    October    October
4314  2016-11-19   November   November
13064 2017-08-04     August     August
7028  2016-11-27   November   November
7937  2016-11-27   November   November
4433  2016-05-14        May        May
11896 2017-02-25   February   February

In [9]:
df_test['20_Percent'] = df_test['STD_Months']

In [10]:
#Creating 20% noise
ix2 = [(row) for row in range(df_test['20_Percent'].shape[0])]
#choosing 20 Rows
for row in random.sample(ix2, int(round(.2*len(ix2)))):
    indxs2 = [i for i , _ in enumerate(df_test['20_Percent'].iat[row])]
    if len(indxs2)<8:
        #Choose 1 random indexes
        sam2 = random.sample(indxs2 , 1)
        #Choose 1 random character
        letts2 =  iter(random.sample(ascii_letters, 1))
        #make the string a list
        lst2 = list(df_test['20_Percent'].iat[row])
        for ind2 in sam2:
            lst2[ind2] = next(letts2)
        df_test['20_Percent'].iat[row]=("".join(lst2))
    else: 
        #Choose 2 random indexes
        sam2 = random.sample(indxs2 , 2)
        #Choose 1 random character
        letts2 =  iter(random.sample(ascii_letters, 2))
        #make the string a list
        lst2 = list(df_test['20_Percent'].iat[row])
        for ind2 in sam2:
            lst2[ind2] = next(letts2)
        df_test['20_Percent'].iat[row]=("".join(lst2))
df_test.head(10)

            Date STD_Months 10_Percent 20_Percent
7234  2016-07-11       July       July       July
3326  2016-10-09    October    October    OHtober
10149 2016-05-28        May        May        Mak
244   2016-10-09    October    October    October
4314  2016-11-19   November   November   November
13064 2017-08-04     August     August     AuguDt
7028  2016-11-27   November   November   November
7937  2016-11-27   November   November   November
4433  2016-05-14        May        May        May
11896 2017-02-25   February   February   February

In [10]:
df_test['30_Percent'] = df_test['STD_Months']

In [11]:
#Creating 30% noise
p3 = 0.3
ix3 = [(row) for row in range(df_test['30_Percent'].shape[0])]
#choosing 30 Rows
for row in random.sample(ix3, int(round(.3*len(ix3)))):
    indxs3 = [i for i , _ in enumerate(df_test['30_Percent'].iat[row])]
    length3 = len(indxs3)
    positions3 = random.sample(range(length3) , round(length3*p3))
    lst3 = list(df_test['30_Percent'].iat[row])
    for ind3 in positions3:
        lst3[ind3]=random.choice(string.ascii_lowercase)
        df_test['30_Percent'].iat[row]=("".join(lst3))

In [12]:
df_test['40_Percent'] = df_test['STD_Months']

In [13]:
#Creating 40% noise
p4 = 0.4
ix4 = [(row) for row in range(df_test['40_Percent'].shape[0])]
#choosing 40 Rows
for row in random.sample(ix4, int(round(.4*len(ix4)))):
    indxs4 = [i for i , _ in enumerate(df_test['40_Percent'].iat[row])]
    length4 = len(indxs4)
    positions4 = random.sample(range(length4) , round(length4*p4))
    lst4 = list(df_test['40_Percent'].iat[row])
    for ind4 in positions4:
        lst4[ind4]=random.choice(string.ascii_lowercase)
        df_test['40_Percent'].iat[row]=("".join(lst4))

In [14]:
df_test['50_Percent'] = df_test['STD_Months']

In [15]:
#Creating 50% noise
p5 = 0.5
ix5 = [(row) for row in range(df_test['50_Percent'].shape[0])]
#choosing 50 Rows
for row in random.sample(ix5, int(round(.5*len(ix5)))):
    indxs5 = [i for i , _ in enumerate(df_test['50_Percent'].iat[row])]
    length5 = len(indxs5)
    positions5 = random.sample(range(length5) , round(length5*p5))
    lst5 = list(df_test['50_Percent'].iat[row])
    for ind5 in positions5:
        lst5[ind5]=random.choice(string.ascii_lowercase)
        df_test['50_Percent'].iat[row]=("".join(lst5))

In [16]:
df_test['60_Percent'] = df_test['STD_Months']

In [17]:
#Creating 60% noise
p6 = 0.6
ix6 = [(row) for row in range(df_test['60_Percent'].shape[0])]
#choosing 60 Rows
for row in random.sample(ix6, int(round(.6*len(ix6)))):
    indxs6 = [i for i , _ in enumerate(df_test['60_Percent'].iat[row])]
    length6 = len(indxs6)
    positions6 = random.sample(range(length6) , round(length6*p6))
    lst6 = list(df_test['60_Percent'].iat[row])
    for ind6 in positions6:
        lst6[ind6]=random.choice(string.ascii_lowercase)
        df_test['60_Percent'].iat[row]=("".join(lst6))

In [18]:
df_test['70_Percent'] = df_test['STD_Months']

In [19]:
#Creating 70% noise
p7 = 0.7
ix7 = [(row) for row in range(df_test['70_Percent'].shape[0])]
#choosing 70 Rows
for row in random.sample(ix7, int(round(.7*len(ix7)))):
    indxs7 = [i for i , _ in enumerate(df_test['70_Percent'].iat[row])]
    length7 = len(indxs7)
    positions7 = random.sample(range(length7) , round(length7*p7))
    lst7 = list(df_test['70_Percent'].iat[row])
    for ind7 in positions7:
        lst7[ind7]=random.choice(string.ascii_lowercase)
        df_test['70_Percent'].iat[row]=("".join(lst7))

In [20]:
df_test['80_Percent'] = df_test['STD_Months']

In [21]:
#Creating 80% noise
p8 = 0.8
ix8 = [(row) for row in range(df_test['80_Percent'].shape[0])]
#choosing 80 Rows
for row in random.sample(ix8, int(round(.8*len(ix8)))):
    indxs8 = [i for i , _ in enumerate(df_test['80_Percent'].iat[row])]
    length8 = len(indxs8)
    positions8 = random.sample(range(length8) , round(length8*p8))
    lst8 = list(df_test['80_Percent'].iat[row])
    for ind8 in positions8:
        lst8[ind8]=random.choice(string.ascii_lowercase)
        df_test['80_Percent'].iat[row]=("".join(lst8))

In [22]:
df_test['90_Percent'] = df_test['STD_Months']

In [23]:
#Creating 90% noise
p9 = 0.9
ix9 = [(row) for row in range(df_test['90_Percent'].shape[0])]
#choosing 90 Rows
for row in random.sample(ix9, int(round(.9*len(ix9)))):
    indxs9 = [i for i , _ in enumerate(df_test['90_Percent'].iat[row])]
    length9 = len(indxs9)
    positions9 = random.sample(range(length9) , round(length9*p9))
    lst9 = list(df_test['90_Percent'].iat[row])
    for ind9 in positions9:
        lst9[ind9]=random.choice(string.ascii_lowercase)
        df_test['90_Percent'].iat[row]=("".join(lst9))

In [24]:
df_test['100_Percent'] = df_test['STD_Months']

In [25]:
#Creating 100% noise
ix10 = [(row) for row in range(df_test['100_Percent'].shape[0])]
#choosing 100 Rows
for row in random.sample(ix10, int(len(ix10))):
    indxs10 = [i for i , _ in enumerate(df_test['100_Percent'].iat[row])]
    length10 = len(indxs10)
    positions10 = random.sample(range(length10) , length10)
    lst10 = list(df_test['100_Percent'].iat[row])
    for ind10 in positions10:
        lst10[ind10]=random.choice(string.ascii_lowercase)
        df_test['100_Percent'].iat[row]=("".join(lst10))

In [27]:
#Save the result in a CSV file
df_test
df_test.to_csv("Noisy_Data.csv")