In [2]:
import random
import pandas as pd

months = ["November", "February", "December"] 
months *= 40
random.shuffle(months)
df = pd.DataFrame({'STD_Months' : months})

df['STD_Months'].value_counts()
df.to_csv('E2_Initial.csv')

    STD_Months
0     February
1     December
2     November
3     December
4     November
5     November
6     November
7     December
8     November
9     November
10    November
11    February
12    February
13    December
14    November
15    February
16    February
17    December
18    December
19    December
20    November
21    February
22    November
23    December
24    February
25    November
26    December
27    November
28    November
29    November
..         ...
90    November
91    December
92    December
93    February
94    December
95    February
96    December
97    November
98    December
99    November
100   December
101   December
102   November
103   November
104   February
105   November
106   February
107   November
108   November
109   December
110   November
111   December
112   December
113   February
114   December
115   February
116   February
117   November
118   November
119   December

[120 rows x 1 columns]